
body{
    background-color: rgb(239, 246, 247);
}

p {
    color: rgb(238, 70, 70);

}
.very-cool {
    color: rgb(0, 143, 0);

}
.box {
    background-color: red;
    width: 100px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px

}